<div class="container">
  <h1>Editing Type</h1>

  <%= render 'form', type: @type %>
  
  <%= link_to 'Show', @type, class:"btn btn-link" %> |
  <%= link_to 'Back to Menu', types_path, class:"btn btn-link" %>
</div>